<!DOCTYPE html>
<html lang="en">


<body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

        <h1 class="cover-heading">Covid Dashboard</h1>
        <table id="Covid Dashboard">
            <tr>
                <th>Country</th>
                <th>Deaths</th>
                <th>TotalCases</th>
            </tr>

            <tbody>
                <% covidData.forEach((m)=> { %>
                    <tr>
                        <td>
                            <%= m.Country %>
                        </td>
                        <td>
                            <%= m.Deaths %>
                        </td>
                        <td>
                            <%= m.TotalCases %>
                        </td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>

    </div>


</body>

</html>